@media screen and (max-width:500px){
    img {float:left;}
    .PictureText{float:left; clear:right; width:300px;}
}

@media screen and (min-width:500px){
    img {clear:left; float:left;}
    .PictureText{float:left; width:200px;}

}